<p id="notice"><%= notice %></p>

<p>
  <strong>Org study:</strong>
  <%= @c_clinical_trial.org_study_id %>
</p>

<p>
  <strong>Secondary:</strong>
  <%= @c_clinical_trial.secondary_id %>
</p>

<p>
  <strong>Nct:</strong>
  <%= @c_clinical_trial.nct_id %>
</p>

<p>
  <strong>Nct alias:</strong>
  <%= @c_clinical_trial.nct_alias %>
</p>

<p>
  <strong>Brief title:</strong>
  <%= @c_clinical_trial.brief_title %>
</p>

<p>
  <strong>Official title:</strong>
  <%= @c_clinical_trial.official_title %>
</p>

<p>
  <strong>Lead sponsor name:</strong>
  <%= @c_clinical_trial.lead_sponsor_name %>
</p>

<p>
  <strong>Lead sponsor class:</strong>
  <%= @c_clinical_trial.lead_sponsor_class %>
</p>

<p>
  <strong>Brief summary:</strong>
  <%= @c_clinical_trial.brief_summary %>
</p>

<p>
  <strong>Detailed description:</strong>
  <%= @c_clinical_trial.detailed_description %>
</p>

<p>
  <strong>Overall status:</strong>
  <%= @c_clinical_trial.overall_status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @c_clinical_trial.start_date %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @c_clinical_trial.phase %>
</p>

<p>
  <strong>Study type:</strong>
  <%= @c_clinical_trial.study_type %>
</p>

<p>
  <strong>Study design:</strong>
  <%= @c_clinical_trial.study_design %>
</p>

<p>
  <strong>Primary outcome measure:</strong>
  <%= @c_clinical_trial.primary_outcome_measure %>
</p>

<p>
  <strong>Primary outcome time frame:</strong>
  <%= @c_clinical_trial.primary_outcome_time_frame %>
</p>

<p>
  <strong>Primary outcome safety issue:</strong>
  <%= @c_clinical_trial.primary_outcome_safety_issue %>
</p>

<p>
  <strong>Secondary outcome measure:</strong>
  <%= @c_clinical_trial.secondary_outcome_measure %>
</p>

<p>
  <strong>Secondary outcome time frame:</strong>
  <%= @c_clinical_trial.secondary_outcome_time_frame %>
</p>

<p>
  <strong>Secondary outcome safety issue:</strong>
  <%= @c_clinical_trial.secondary_outcome_safety_issue %>
</p>

<p>
  <strong>Number of groups:</strong>
  <%= @c_clinical_trial.number_of_groups %>
</p>

<p>
  <strong>Enrollment type:</strong>
  <%= @c_clinical_trial.enrollment_type %>
</p>

<p>
  <strong>Enrollment number:</strong>
  <%= @c_clinical_trial.enrollment_number %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @c_clinical_trial.condition %>
</p>

<p>
  <strong>Arm group label:</strong>
  <%= @c_clinical_trial.arm_group_label %>
</p>

<p>
  <strong>Arm group description:</strong>
  <%= @c_clinical_trial.arm_group_description %>
</p>

<p>
  <strong>Biospec description:</strong>
  <%= @c_clinical_trial.biospec_description %>
</p>

<p>
  <strong>Eligibility:</strong>
  <%= @c_clinical_trial.eligibility %>
</p>

<p>
  <strong>Sampling method:</strong>
  <%= @c_clinical_trial.sampling_method %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @c_clinical_trial.criteria %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @c_clinical_trial.gender %>
</p>

<p>
  <strong>Minimum age:</strong>
  <%= @c_clinical_trial.minimum_age %>
</p>

<p>
  <strong>Maximum age:</strong>
  <%= @c_clinical_trial.maximum_age %>
</p>

<p>
  <strong>Healthy volunteers:</strong>
  <%= @c_clinical_trial.healthy_volunteers %>
</p>

<p>
  <strong>Overall official name:</strong>
  <%= @c_clinical_trial.overall_official_name %>
</p>

<p>
  <strong>Overall official role:</strong>
  <%= @c_clinical_trial.overall_official_role %>
</p>

<p>
  <strong>Overall official affiliation:</strong>
  <%= @c_clinical_trial.overall_official_affiliation %>
</p>

<p>
  <strong>Overall contact name:</strong>
  <%= @c_clinical_trial.overall_contact_name %>
</p>

<p>
  <strong>Overall contact phone:</strong>
  <%= @c_clinical_trial.overall_contact_phone %>
</p>

<p>
  <strong>Overall contact email:</strong>
  <%= @c_clinical_trial.overall_contact_email %>
</p>

<p>
  <strong>Overall contact backup name:</strong>
  <%= @c_clinical_trial.overall_contact_backup_name %>
</p>

<p>
  <strong>Overall contact backup phone:</strong>
  <%= @c_clinical_trial.overall_contact_backup_phone %>
</p>

<p>
  <strong>Overall contact backup email:</strong>
  <%= @c_clinical_trial.overall_contact_backup_email %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @c_clinical_trial.location_name %>
</p>

<p>
  <strong>Location city:</strong>
  <%= @c_clinical_trial.location_city %>
</p>

<p>
  <strong>Location state:</strong>
  <%= @c_clinical_trial.location_state %>
</p>

<p>
  <strong>Location zip:</strong>
  <%= @c_clinical_trial.location_zip %>
</p>

<p>
  <strong>Location country:</strong>
  <%= @c_clinical_trial.location_country %>
</p>

<p>
  <strong>Results reference citation:</strong>
  <%= @c_clinical_trial.results_reference_citation %>
</p>

<p>
  <strong>Results reference pmid:</strong>
  <%= @c_clinical_trial.results_reference_PMID %>
</p>

<p>
  <strong>Verification date:</strong>
  <%= @c_clinical_trial.verification_date %>
</p>

<p>
  <strong>Lastchanged date:</strong>
  <%= @c_clinical_trial.lastchanged_date %>
</p>

<p>
  <strong>Firstreceived date:</strong>
  <%= @c_clinical_trial.firstreceived_date %>
</p>

<p>
  <strong>Responsible party type:</strong>
  <%= @c_clinical_trial.responsible_party_type %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @c_clinical_trial.keyword %>
</p>

<p>
  <strong>Is fda regulated:</strong>
  <%= @c_clinical_trial.is_fda_regulated %>
</p>

<p>
  <strong>Has expanded access:</strong>
  <%= @c_clinical_trial.has_expanded_access %>
</p>

<p>
  <strong>Condition browse mesh term:</strong>
  <%= @c_clinical_trial.condition_browse_mesh_term %>
</p>

<%= link_to 'Edit', edit_c_clinical_trial_path(@c_clinical_trial) %> |
<%= link_to 'Back', c_clinical_trials_path %>
