<% provide(:title, 'Clinical Trial Data') %>
<h1>Clinical Trial Data</h1>
<p>
  <%= @org_study_id %>
  <%= @brief_title %>
  <%= @Cdescription %>
  <%= @Cbrief_summary %>
</p>
<div>
	<table>
		<thead>
      <tr>
        <th>Study ID</th>
        <th>Brief Title</th>
        <th>Description</th> 
        <th>Brief Summary</th>
      </tr>
    </thead>
    <tbody>
    	<tr>
    		<td><%= @org_study_id %></td>
      </tr>
  </table>
</div>